<!DOCTYPE html>
<html>
<head>
	<title>Vue Js tutorials</title>
	<link rel="stylesheet" href="./assets/css/style.css">
	<script src="./assets/vue/vueCopiedCDN.js"></script>
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script> -->
</head>
<body>

	<div id="vue-app">
		<h1>{{author}}</h1>
		<template v-for="student in students">
			<div v-for="(val, key) in student">
				<p>{{val}}</p>
			</div>
		</template>

</div>

	<script src="./assets//vue/vueController.js"></script>
	<script src="./assets/vue/main.js"></script>
</body>
</html>