span {
    background: red;
    display: inline-block;
    padding: 10px;
    color: #fff;
    margin: 10px 0;    
}

.available span{
    background: green;
}

.nearBy span {
    content: "nearby";
    margin: 10px;
}